@model InventoryManagementSystem.Models.product

@{
    ViewBag.Title = "DetailsProduct";
}

<h3>Product details</h3>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_Qnty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Qnty)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Update", "UpdateProduct",null, new { id = Model.ID },new {@class="btn btn-primary" })&nbsp;
    @Html.ActionLink("Cancel", "DisplayProduct",null,new {@class="btn btn-danger" })
</p>
