@model IEnumerable<InventoryManagementSystem.Models.product>

@{
    ViewBag.Title = "DisplayProduct";
}

<h3>Products List</h3>

<p>
    @Html.ActionLink("Create New", "CreateProduct", "Product", null, new { @class = "btn btn-primary" })
</p>
@{
    if (TempData["successmessage"] != null)
    {
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Success!</strong> @TempData["successmessage"]
        </div>
    }
    else if (TempData["errormessage"] != null)
    {
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Danger!</strong> @TempData["errormessage"]
        </div>
    }
}

<br />
<table class="table">
    <tr class="success">
        <th>
            @Html.DisplayNameFor(model => model.Product_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Qnty)
        </th>
        <th>
            @Html.DisplayName("Actions")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product_Qnty)
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateProduct", new { id = item.ID }, new { @class = "btn btn-primary" }) &nbsp;
                @Html.ActionLink("Details", "DetailsProduct", new { id = item.ID }, new { @class = "btn btn-success" }) &nbsp;
                @Html.ActionLink("Delete", "DeleteProduct", new { id = item.ID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
